<h1>Add Vendor</h1>
<p>Add new vendor:</p>

<form action="/vendors" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <label for="vendorDescription">Description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Add Vendor</button>
</form>

<p><a href='/vendors'>Back to Vendorsr</a></p>
<p><a href='/'>Go Home</a></p>